### if elif else conditional statement

##### Write a set of conditional statements to find whether a no is "special" number 
 Special numbers are defined as number less than 100 or greater or equal to 300
 that are perfectly divisible by 3, 7, or both
 print out "divisible by both" if special number is divisible by both 3 & 7
 print out "divisible by 3" if special number is divisible by 3, but not 7
 print out "divisible by 7" if special number is divisible by 3, but not 3
print out "not a special number" otherwise?

In [1]:
num = int(input("Please enter the number: "))
if num < 100 or num >=300:
    if num%3 == 0 and num%7 ==0:
        print("Dividible by both 3 and 7")
    elif num%3 == 0 or num%7 ==0:
        if num%3 == 0:
            print("Divisbile by 3")
        else:
            print("divisible by 7")
    else:
        print("Not a special number")

Please enter the number:  333

Divisbile by 3

### Functions

In [2]:
# basic syntex with example 1

def spam():
    print("win Rs 1 lakh")

In [3]:
spam()
spam()
spam()
spam()

win Rs 1 lakh
win Rs 1 lakh
win Rs 1 lakh
win Rs 1 lakh

In [4]:
# example 2
def squareNumber(x):
    return(x**2)

In [5]:
a = squareNumber(4)

In [6]:
print(a)

16

##### write a function to take three number and add them?

In [7]:
def addThreeNumber(a, b, c):
    return(a+b+c)

In [8]:
print(addThreeNumber(1,1,3))

5

##### write a function to combine first, middle and last name together?

In [9]:
def combineName(a,b,c):
    return a + ' ' + b[0] + ' ' + c

In [10]:
fullName = combineName('Mr.','Asad','Sazid')

In [11]:
print(fullName)

Mr. A Sazid

### LIST

In [12]:
# list items must be inside big bracket i.e []
# list is mutable
# use .append to add new item in the existing list but we just can add one new item at a time
# for example 1:-
grocery_list = ['mango','apple','papaya']

In [13]:
print(grocery_list)

['mango', 'apple', 'papaya']

In [14]:
grocery_list.append('banana')

In [15]:
grocery_list.remove('apple')

In [16]:
grocery_list.pop(-1)

'banana'

In [17]:
grocery_list.clear()

In [18]:
print(len(grocery_list))

0

In [19]:
# inserting item in particular location in a list
grocery_list.insert(2, 'baba')

In [20]:
#example 2
grades = [100,34,72,95,84,87,100,100]

In [21]:
print(grades)

[100, 34, 72, 95, 84, 87, 100, 100]

In [22]:
grades.sort()

In [23]:
grades.reverse()

In [24]:
grades.count(100)

3

##### write a function to find the name is avalable in the list of names?

In [25]:
names = ['asad','aman','mazid','sazid','shantanu','kumar','suman','archit','singh']

In [26]:
print(names)

['asad', 'aman', 'mazid', 'sazid', 'shantanu', 'kumar', 'suman', 'archit', 'singh']

In [27]:
def find_name(name):
    if name in names:
        return True
    else:
        return False

In [28]:
find_name('khan')

False

In [29]:
def find_name2(name, names):
    if name in names:
        return True
    else:
        return False

In [30]:
find_name2('asad',names)

True

In [31]:
def find_name3(name, names):
    return(name in names)

In [32]:
find_name2('sazid',names)

True

### TUPLES

In [33]:
# tuples items must be inside small bracket i.e ()
# list is immutable

values = ()

In [34]:
# taking an example of function to understand tuple

def update(x,y,z):
    x=x+5
    y=y-3
    z=z+10
    return(x,y,z)

In [35]:
update(10,0,0)

(15, -3, 10)

### LOOPS

#### For Loop

In [36]:
# simple for loop Syntex with example 1
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [37]:
#example 2 :- print odd no. between 0 t0 10

for i in range(10):
    if i%2 ==1:
        print(i)
    else:
        pass

1
3
5
7
9

In [38]:
# one of the important use of the for loop is to ittrate through list,
#example 3 :-
grocery_list = ['apple', 'banana', 'knife','cap']

In [39]:
for i in grocery_list:
    print(i)

apple
banana
knife
cap

In [40]:
# example 3:- find the avrage using fol loop
weights = [208, 221, 195, 186, 139,149,203,301,393,191]

In [41]:
total_weight = 0
for weight in weights:
    total_weight = total_weight + weight
total_players = len(weights)

avrage_weight = total_weight/total_players
print(avrage_weight)

218.6

#### While loop

In [42]:
# one of the important use of while loop is to use boolean
# syntex with simple example 1:-
i = 0
while i in range(10):
    print('Hi')
    print('Asad')
    i += 1

Hi
Asad
Hi
Asad
Hi
Asad
Hi
Asad
Hi
Asad
Hi
Asad
Hi
Asad
Hi
Asad
Hi
Asad
Hi
Asad

In [43]:

# example 2:- print 1 to 10
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [44]:
# example 3:-
import random
game_over = False
score = 0

while not game_over:
    score += random.randint(1,10)
    print(score)
    
    print('Play again')
    if score >100:
        game_over = True
        break
        print('Game Over!!!')

4
Play again
5
Play again
11
Play again
20
Play again
23
Play again
25
Play again
27
Play again
28
Play again
34
Play again
37
Play again
42
Play again
51
Play again
56
Play again
65
Play again
68
Play again
77
Play again
79
Play again
82
Play again
84
Play again
93
Play again
103
Play again

### CLASSES

In [45]:
# use os classes :- safe from bugs, easy to understand, ready for change
# syntex with simple example 1:-
class Polygon:
    def __init__(self, sides, name):
            self.sides = sides
            self.name = name

square = Polygon(4, 'square')
pentagon = Polygon(5,'pentagon')

In [46]:
print(square.sides)
print(square.name)
print(pentagon.sides)
print(pentagon.name)

4
square
5
pentagon

 ### Practice

In [47]:
def parrot_trouble(talking, hour):
  return (talking and (hour < 7 or hour > 20))

In [48]:
parrot_trouble(True, 7.000001)

False

In [49]:
def near_hundred(n):
  return((90 < n > 110) or (190 < n > 210))

In [50]:
def pos_neg(a, b, negative):
  if negative:
    return (a<0 and b< 0)
  else:
    return ((a<0 and b>0) or (a>0 and b<0))

In [51]:
pos_neg(-1, 2, True)

False

In [52]:
def not_string(str):
  if str[0:2] == 'not':
    return('not ' + str)
  else:
    return(str)

In [53]:
not_string('not asad')

'not asad'

In [54]:

#Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).

In [55]:
def missing_char(str, n):
    firstPart = str[0:n]
    secondPart = str[n+1:]
    return(firstPart+secondPart)

In [56]:
missing_char('asad',2)

'asd'

In [57]:
def front_back(str):
    return (str[-1]+str[1:-1]+str[0])

In [58]:
front_back('asad')

'dsaa'

In [59]:
def front_back(str):
  return (str[-1]+str[1:-1]+str[0])

  
   #first_char = str[0]
   #last_char = str[-1] 
   #str[0] = last_char
   #str[-1] = first_char
   #return(str)
  
#def front_back(str):
  #if len(str) <= 1:
  #  return str
  #
  #mid = str[1:len(str)-1]  # can be written as str[1:-1]
  #
  ## last + mid + first
  #return str[len(str)-1] + mid + str[0]

In [60]:
# Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.?

In [61]:

def array123(nums):
    for i in range(len(nums)-2):
        firstValue = nums[i]
        secondValue = nums[i+1]
        thirdValue = nums[i+2]
        
        if firstValue == 1 and secondValue == 2 and thirdValue == 3:
            return True
        
    return False

In [62]:
array123([1,3,1,2,1,2,2,1,2,2,2,1,2,3])

True

In [63]:
# removing duplicate from a list

l1 = [20,30,40,50,60,80,60,70,40]

In [64]:
print(l1)

[20, 30, 40, 50, 60, 80, 60, 70, 40]

In [65]:
l2 = []

l1.sort()
for i in l1:
    if i not in l2:
        l2.append(i)

In [66]:
print(l2)

[20, 30, 40, 50, 60, 70, 80]

Given a string and a non-negative int n, return a larger string that is n copies of the original string?

In [67]:
# using for loop
def string_times(str, n):
  res = ''
  for i in range(n):
    res = res+str
  return res

In [68]:
string_times('sid', 5)

'sidsidsidsidsid'

In [69]:
# using while loop
def string_times(str, n):
    i = 0
    output = ''
    while i < n:
        output = output+str
        i = i+1 
    return output

In [70]:
string_times('asad ', 10)

'asad asad asad asad asad asad asad asad asad asad '

Given a string and a non-negative int n, we'll say that the front of the string is the first 3 chars, or whatever is there if the string is less than length 3. Return n copies of the front?

In [87]:
def front_times(str, n):
  x = str[0:3]
  y = ''
  for i in range(n):
    y += x
  return y

In [88]:
front_times('sazid', 3)

'sazsazsaz'

Given a string, return a new string made of every other char starting with the first, so "Hello" yields "Hlo"?

In [89]:
def string_bits(str):
  x = str[::2]
  return x

In [90]:
string_bits('aosfakdjsdazzcigd')

'asadsazid'